<% content_for :title, 'Manufacturers' %>
<h1>Manufacturers</h1>
<ul id="manufacturers" class="medium-block-grid-3 small-block-grid-1">
  <li>
    <h2><%= link_to 'Wavetronix', 'http://www.wavetronix.com/', target: '_blank' %></h2>
    <ul>
      <li>connectivity devices</li>
      <li>data appliances</li>
      <li>radar sensors</li>
    </ul>
  </li>
  <li>
    <h2><%= link_to 'iMPath Networks', 'http://www.impathnetworks.com/', target: '_blank' %></h2>
    <ul>
      <li>cameras</li>
      <li>encoders/decoders</li>
      <li>recording systems</li>
      <li>video management solutions</li>
    </ul>
  </li>
  <li>
    <h2><%= link_to 'Camera Lowering Systems', 'http://www.cameralowering.com/', target: '_blank' %></h2>
    <ul>
      <li>camera lowering systems</li>
    </ul>
  </li>
  <li>
    <h2><%= link_to 'Tesco', 'http://www.tescocontrols.com/traffic.htm', target: '_blank' %></h2>
    <ul>
      <li>service pedestals</li>
      <li>traffic signal battery backup</li>
    </ul>
  </li>
  <li>
    <h2><%= link_to 'Vicon Industries', 'http://www.vicon-cctv.com/', target: '_blank' %></h2>
    <ul>
      <li>camera dome systems</li>
      <li>digital video and IP solutions</li>
      <li>housings and mounting equipment</li>
    </ul>
  </li>
</ul>
