<% content_for :title, "Manufacturers" %>
<h1>Manufacturers</h1>
<ul class="medium-block-grid-2 large-block-grid-3">
  <li>
    <ul class="pricing-table">
      <li class="title"><%= image_tag "manufacturers/wavetronix_light.svg", alt: "Wavetronix" %></li>
      <li class="bullet-item">radar sensors</li>
      <li class="bullet-item">connectivity devices</li>
      <li class="bullet-item">data appliances</li>
      <li class="bullet-item hide-for-small-only">&nbsp;</li>
      <li class="cta-button"><%= link_to "Visit website", "http://www.wavetronix.com", target: "_blank", class: "button offsite" %></li>
    </ul>
  </li>
  <li>
    <ul class="pricing-table">
      <li class="title"><%= image_tag "manufacturers/impath_networks_light.svg", alt: "iMPath Networks" %></li>
      <li class="bullet-item">cameras</li>
      <li class="bullet-item">encoders/decoders</li>
      <li class="bullet-item">recording systems</li>
      <li class="bullet-item">video management solutions</li>
      <li class="cta-button"><%= link_to "Visit website", "http://www.impathnetworks.com", target: "_blank", class: "button offsite" %></li>
    </ul>
  </li>
  <li>
    <ul class="pricing-table">
      <li class="title"><%= image_tag "manufacturers/camera_lowering_systems_light.svg", alt: "Camera Lowering Systems" %></li>
      <li class="bullet-item">camera lowering systems</li>
      <li class="bullet-item hide-for-small-only">&nbsp;</li>
      <li class="bullet-item hide-for-small-only">&nbsp;</li>
      <li class="bullet-item hide-for-small-only">&nbsp;</li>
      <li class="cta-button"><%= link_to "Visit website", "http://www.cameralowering.com/", target: "_blank", class: "button offsite" %></li>
    </ul>
  </li>
  <li>
    <ul class="pricing-table">
      <li class="title"><%= image_tag "manufacturers/tesco_light.svg", alt: "Tesco" %></li>
      <li class="bullet-item">service pedestals</li>
      <li class="bullet-item">traffic signal battery backup</li>
      <li class="bullet-item hide-for-small-only">&nbsp;</li>
      <li class="bullet-item hide-for-small-only">&nbsp;</li>
      <li class="cta-button"><%= link_to "Visit website", "http://www.tescocontrols.com/traffic.htm", target: "_blank", class: "button offsite" %></li>
    </ul>
  </li>
  <li>
    <ul class="pricing-table">
      <li class="title"><%= image_tag "manufacturers/vicon_industries_light.svg", alt: "Vicon Industries" %></li>
      <li class="bullet-item">camera dome systems</li>
      <li class="bullet-item">digital video and IP solutions</li>
      <li class="bullet-item">housings and mounting equipment</li>
      <li class="bullet-item hide-for-small-only">&nbsp;</li>
      <li class="cta-button"><%= link_to "Visit website", "http://www.vicon-cctv.com/", target: "_blank", class: "button offsite" %></li>
    </ul>
  </li>
</ul>
