<h1 id="page_title">Log In</h1>

<% form_tag session_path do -%>
<h4 class="field_label"><%= label_tag 'login' %></h4>
<p><%= text_field_tag 'login', @login %></p>

<h4 class="field_label"><%= label_tag 'password' %></h4>
<p><%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality -->
<p><%= check_box_tag 'remember_me', '1', @remember_me %>
<%= label_tag 'remember_me', 'Remember me' %></p>


<p><%= submit_tag 'Log in' %></p>
<% end -%>
