<h3><%=h article.title %> <%= content_tag :span, "(#{article.post_date.strftime('%b %d, %Y')})", :class => 'article_date' %> [ <%= link_to '&gt;', edit_article_path(article) %> | <%= link_to '&times;', article_path(article), :confirm => "Are you sure you want to delete #{article.title}?",:method => :delete %> ]</h3>
<!-- <p><%# truncate article.body, :length => 200 %> <%# link_to 'Read more', article_path(article), :class => 'read_more' %></p> -->
<%= simple_format(article.body) %>