<% content_for :links do -%>
<%= tag :link, :type => 'application/rss+xml', :title => 'RSS', :href => formatted_articles_url(:rss) %>
<% end -%>
<h1 id="page_title">News</h1>

<% @years.sort.reverse.each do |year, articles| -%>
<div id="y<%= year.strftime('%Y') %>">
	<% articles.group_by { |a| a.post_date.beginning_of_month }.sort.reverse.each do |month, articles| -%>
	<h2><%= month.strftime('%B') %></h2>
	<%= render :partial => articles %>
	<% end -%>
</div> <!-- END year y<%= year.strftime('%Y') %> -->
<% end if !@years.nil? -%>
