<% content_for :meta do -%>
<%= tag :meta, 'http-equiv'.to_sym => 'pragma', :content => 'no-cache' %>
<% end -%>
<% content_for :scripts do -%>
<%= javascript_include_tag :defaults, 'ticker' %>
<% end -%>
<div id="hero">
	<%= link_to image_tag('hero.png', :alt => 'Dilemma zone protection from Wavetronix'), 'http://www.wavetronix.com', :target => '_blank' %>
</div> <!-- END hero -->

<div class="panel_row">
	<div id="ticker" class="news panel">
		<h3 id="news-title">Read the latest news and information on Summit Traffic Solutions</h3>
		<p><span id="news-desc"></span><br /><%= link_to 'Read more', articles_path, :class => 'read_more' %></p>
	</div> <!-- END panel -->
	
	<div class="panel">
		<%= link_to image_tag('panel_ClickManagedSwitches.png', :alt => 'Wavetronix'), 'http://www.wavetronix.com', :target => '_blank' %>
	</div> <!-- END panel -->
	
	<div class="panel last">
		<%= link_to image_tag('panel_iMPathEncoder.png', :alt => 'iMPath Networks'), 'http://www.impathnetworks.com', :target => '_blank' %>
	</div> <!-- END panel -->
</div> <!-- END panel_row -->
