<% content_for :meta do -%>
<%= tag :meta, 'http-equiv'.to_sym => 'pragma', :content => 'no-cache' %>
<%- end -%>
<%- content_for :scripts do -%>
<%= javascript_include_tag 'jquery', 'ticker' %>
<%- javascript_tag do -%>
	$(function() {
		if ($("#news-links li").length > 1) $("#news-links").newsTicker();
	});
<%- end -%>
<%- end -%>
<div id="hero">
	<%= link_to image_tag('hero.png', :alt => 'Dilemma zone protection from Wavetronix'), contact_path %>
</div> <!-- END hero -->

<div class="panel_row">
	<div id="ticker" class="news panel">
		<ul id="news-links">
			<%- if !@articles.blank? -%>
				<%= render :partial => "article", :collection => @articles %>
			<%- else -%>
				<li><%= link_to 'Read the latest news and information from Summit Traffic Solutions.', articles_path %></li>
			<%- end -%>
		</ul>
	</div> <!-- END panel -->
	
	<div class="panel">
		<%= link_to image_tag('panel_ClickManagedSwitches.png', :alt => 'Wavetronix'), 'http://www.wavetronix.com', :target => '_blank' %>
	</div> <!-- END panel -->
	
	<div class="panel last">
		<%= link_to image_tag('panel_iMPathEncoder.png', :alt => 'iMPath Networks'), 'http://www.impathnetworks.com', :target => '_blank' %>
	</div> <!-- END panel -->
</div> <!-- END panel_row -->
