<header class="site-header">
  <nav class="tab-bar hide-for-medium-up">
    <section class="left-small">
      <%= link_to content_tag(:span), nil, class: "left-off-canvas-toggle menu-icon" %>
    </section>
    <section class="middle tab-bar-section">
      <h1 class="title"><span class="site-icon">Summit Traffic Solutions</span></h1>
    </section>
  </nav>

  <aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
      <li>
        <%= link_to root_path do %>
          <%= content_tag :span, nil, class: "fa fa-fw fa-home" %>
          Home
        <% end %>
      </li>
      <li>
        <%= link_to manufacturers_path do %>
          <%= content_tag :span, nil, class: "fa fa-fw fa-cubes" %>
          Manufacturers
        <% end %>
      </li>
      <li>
        <%= link_to contact_path do %>
          <%= content_tag :span, nil, class: "fa fa-fw fa-comment" %>
          Contact Us
        <% end %>
      </li>
    </ul>
  </aside>

  <div class="contain-to-grid">
    <nav class="top-bar show-for-medium-up">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Summit Traffic Solutions", root_path, class: "site-icon" %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="<%= :active if params[:action] == "manufacturers" %>">
            <%= link_to "Manufacturers", manufacturers_path %>
          </li>
          <li class="<%= :active if params[:action] == "contact" %>">
            <%= link_to "Contact", contact_path %>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>
