<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<%= yield :meta %>

		<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
		<%= stylesheet_link_tag 'application' %>
		<%= yield :links %>
		
		<%= yield :scripts %>
		
		<title><%= @page_title == nil ? 'Summit Traffic Solutions' : "Summit Traffic Solutions | #{@page_title.join(' | ')}" %></title>
	</head>
	<body>
		
		<%- if logged_in? -%><div id="admin_bar"></div><%- end -%>
		
		<%- flash.each do |key, msg| -%>
			<%- content_tag(:div, :id => key) do -%>
				<p><%= msg %></p>
				<p style="margin-top: 33px; text-align: right;"><span class="button default"><%= link_to('OK', "javascript:document.getElementById('#{key}').style.visibility='hidden';") %></span></p>
			<%- end -%>
		<%- end -%>
		
		<div id="banner">
			<h1><span>Summit Traffic Solutions</span></h1>
		</div> <!-- END banner -->
		
		<div id="menu">
			<ul>
				<li><%= selected_link_to '<span>Home</span>', root_path, { :id => 'home' }, 'root' %></li>
				<li><%= selected_link_to '<span>Products</span>', products_path, { :id => 'products' }, 'products' %></li>
				<li><%= selected_link_to '<span>News</span>', articles_path, { :id => 'news' }, 'articles' %></li>
				<li><%= selected_link_to '<span>Contact</span>', contact_path, { :id => 'contact' }, 'contact' %></li>
			</ul>
		</div> <!-- END menu -->
		
		<div id="body">
			<%= yield :layout %>
		</div> <!-- END body -->
		
		<div id="footer">
			<div id="copyright"><%= image_tag 'footer_logo.png', :alt => 'Summit Traffic Solutions' %>&emsp;&copy; 2009 Summit Traffic Solutions. All rights reserved.</div>
			<div id="links"><%= link_to 'Home', root_path %> | <%= link_to 'Products', products_path %> | <%= link_to 'News', articles_path %> | <%= link_to 'Contact', contact_path %> | <%- if logged_in? -%><%= link_to 'Users', users_path %> | <%= link_to 'Logout', logout_path %><%- else -%><%= link_to 'Login', login_path %><%- end -%></div>
		</div> <!-- END footer -->
		
		<!-- BEGIN Google Analytics code -->
		
		<%- javascript_tag do -%>
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		<%- end -%>
		<%- javascript_tag do -%>
			try {
				var pageTracker = _gat._getTracker("UA-519048-8");
				pageTracker._trackPageview();
			} catch(err) {}
		<%- end -%>
		
		<!-- END Google Analytics code -->
	</body>
</html>